/*-----------------------*/
/*----- CSS Styles -----*/
/*---------------------*/

body {
  text-align: center;
}

.primaryTitle {
  font-size: 60px;
}

.secondaryTitle {
  font-size: 45px;
}

.container {
  padding-left: 220px;
  padding-right: 220px;
  padding-top: 60px;
  padding-bottom: 75px;
}
