<!DOCTYPE html>

<h1>Please enter your 7 words!</h1>

<form method="POST" action="/index">
    {{ form.csrf_token }} {{ form.wordOne.label }} {{ form.wordOne(size=20) }} {{ form.csrf_token }} {{ form.wordTwo.label }} {{ form.wordTwo(size=20) }} {{ form.csrf_token }} {{ form.wordThree.label }} {{ form.wordThree(size=20) }} {{ form.csrf_token }}
    {{ form.wordFour.label }} {{ form.wordFour(size=20) }} {{ form.csrf_token }} {{ form.wordFive.label }} {{ form.wordFive(size=20) }} {{ form.csrf_token }} {{ form.wordSix.label }} {{ form.wordSix(size=20) }} {{ form.csrf_token }} {{ form.wordSeven.label
    }} {{ form.wordSeven(size=20) }}
    <input type="submit" value="Submit">
</form>