<!doctype html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS and other Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Embed Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <title>Message - KeyBuddy</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Registration</a>
      <a class="navbar-brand" href="/login">Login</a>
      <a class="navbar-brand font-weight-bold" href="/message">About Us</a>
    </nav>
    <br><br>

    <!-- Page Title -->
    <h1 class="text-center display-2 font-weight-bold primaryTitle">About Us</h1>
    <h2 class="text-center display-5">KeyBuddy</h2>
    <br><br>

    <!-- Information Section -->
    <div class="container text-center">
      <div class="fluid-jumbotron">
        <h1>Thanks For Trying KeyBuddy!</h1>
        <p class="lead">
          We hope that you enjoyed it!
          <hr>
          We loved working on this project.
          <br><br>
          For now, we intend on continuing development on the login system itself; there is no service
          that it is connected to. Although we started this project at JAMHacks 2, we hope to continue
          working on it.
          <br><br>
          <!-- Link To GitHub Repository -->
          Check our GitHub <a href="https://github.com/karmdesai/KeyBuddy">repository</a> for further updates.
        </p>
      </div>
    </div>

  </body>
</html>
